.home-carousel .carousel-caption {
  bottom: 20%;
  text-align: left;
  left: 10%;
  right: auto;
  color: white;
}

.text-shadow {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.carousel-caption h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
